CONFIG_TARGET_rockchip=y
CONFIG_TARGET_rockchip_armv8=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_codinge_xiaobao-nas-v1=y
CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_ezpro_mrkaio-m68s=y
CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_ezpro_mrkaio-m68s-plus=y
CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_fastrhino_r66s=y
CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_fastrhino_r68s=y
CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_friendlyarm_nanopi-r2c=y
CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_friendlyarm_nanopi-r2s=y
CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_friendlyarm_nanopi-r4s=y
CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_friendlyarm_nanopi-r4se=y
CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_friendlyarm_nanopi-r5c=y
CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_friendlyarm_nanopi-r5s=y
CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_hinlink_opc-h28k=y
CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_hinlink_opc-ht2=y
CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_lyt_t68m=y
CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_panther_x2=y
CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_radxa_e20c=y
CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_seewo_sv21-rk3568=y
CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_widora_mangopi-m28k=y
CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_widora_mangopi-m28k-pro=y
CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_xunlong_orangepi-r1-plus=y
CONFIG_TARGET_DEVICE_rockchip_armv8_DEVICE_xunlong_orangepi-r1-plus-lts=y
CONFIG_TARGET_KERNEL_PARTSIZE=128
CONFIG_TARGET_ROOTFS_PARTSIZE=1024

# CONFIG_TARGET_ROOTFS_EXT4FS is not set
CONFIG_TARGET_ROOTFS_SQUASHFS=y

CONFIG_PACKAGE_autocore-arm=y
