CONFIG_TARGET_rockchip=y
CONFIG_TARGET_rockchip_rk35xx=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_rockchip_rk35xx_DEVICE_hlink_h28k=y
CONFIG_TARGET_DEVICE_rockchip_rk35xx_DEVICE_mangopi_m28k=y
CONFIG_TARGET_DEVICE_rockchip_rk35xx_DEVICE_radxa_e20c=y
CONFIG_TARGET_DEVICE_rockchip_rk35xx_DEVICE_radxa_rock-5c=y
CONFIG_TARGET_KERNEL_PARTSIZE=128
CONFIG_TARGET_ROOTFS_PARTSIZE=1024

# CONFIG_TARGET_ROOTFS_EXT4FS is not set
CONFIG_TARGET_ROOTFS_SQUASHFS=y

CONFIG_PACKAGE_autocore-arm=y
# CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_OFFLOADING is not set
